/* css codes*/
*{
    margin: 0;
    padding:0;
    font-family:fantasy,sans-serif;
    box-sizing: border-box;
    
}

#header{
    
    width:100%;
    height: 100vh;
    background-image:url(b.jpeg);
    background-size: cover;
    background-position: center;
}
.container { padding: 10px 10%}


nav {
    display:flex;
    align-items:right;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width:150px; 
 
}

nav ul li{
    
    display:inline-block;
    list-style: none;
    margin:10px 20px; 
    
}

nav ul li a{
     color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:crimson;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.7s;
}

nav ul li a:hover::after{
    width: 100%;
    
}
.header-text{
     margin-top: 20%;
    font-size:35px;
    color:aqua;
    
    
}
.header-text h1{
    text-align: left;
    font-size:60px;
    margin-top:40px;
    color:crimson;
}

.header-text h1 span{
    color: rgb(221, 227, 233);
}


/*-------about-------*/

#about{
    padding: 80px 0;
    color:#0c0707;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.about-col-1{
    flex-basis: 35%;
   
}

.about-col-1 img{
    width: 100%;
    border-radius: 18px;
}
.about-col-2{
    flex-basis: 60%;

}

.title{
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

h1{text-align: center;
    color:chartreuse;
    margin: 30px;

}
.imge{
    margin: 10px 50px;
}
.imge img{
    width: 250px;
    padding: 10px;
    filter:drop-shadow(10);
    transition: 2s;
}

.imge img:hover{

    filter:hue-rotate(0);
    transform: scale(1.1);
    
}

/*-------contact-------*/

#contact{
    padding: 30px 0;
}
.contact-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px ;
    margin-top: 50px;

}
.contact-list div{
    background:#678453;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius:15px; 
}
.contact-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.contact-list div i h2 p{
    font-size: 40px;
    font-weight: 400;
    margin-bottom:15px;
}


/* ------- education------ */


#education{
    padding:50px 0;
}

.edu p{ width: 100%;
    display: contents;
    
    text-align: left;
    font-size: 20px;
    color: burlywood;
    font-weight: 300;

}
#ECA{
    padding: 50px 0;
    text-align:center;
}
ul li{
    text-align: left;
    font-size: 20px;
    color: burlywood;
     font-weight: 300;
}



    
    

